service cloud.firestore {
	match /databases/{database}/documents {
		match /{document=**} {
			allow read: if isAuthorisedUser(request.auth.uid);
			allow write: if false;
		}
	}
}

function isAuthorisedUser(userId) {
	return userId == '7RAvkf9IHVSGEWeu5E3fUYR2dqi1'		// Kylie
		|| userId == 'Op8k7VRQNkg0tK7GsCXks0jMj3l2';	// Michael
}