service cloud.firestore {
	match /databases/{database}/documents {

		// Allow reading documents if user is in the list of authorised users
		match /{document=**} {
			allow read: if isAuthorisedUser(request.auth.uid);
			allow write: if false;
		}

	}
}

function isAuthorisedUser(userId) {
	return [
		'7RAvkf9IHVSGEWeu5E3fUYR2dqi1', // Kylie
		'Op8k7VRQNkg0tK7GsCXks0jMj3l2' // Michael
	].includes(userId);
}